/* ==============
    Helpers
   ============== */

// Boxed-band
.boxed-band {
    position: relative;

    &:before,
    &:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
    }

    &:before {
        left: 100%;
    }

    &:after {
        right: 100%;
    }
}
.boxed-band,
.boxed-band:before,
.boxed-band:after {
    background-color: #e9e9e9;
}

@mixin visuallyhidden {
    position: absolute !important; 
    overflow: hidden !important; 
    clip: rect(0 0 0 0) !important; 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0; 
}
.visuallyhidden {
    @include visuallyhidden();
}

@mixin clearfix {
    &:after {
        /* clear those floats */
        display: table;
        clear: both;
        content: " ";
    }
}

/**
 * Device State Detection with CSS Media Queries and JavaScript
 * http://davidwalsh.name/device-state-detection-css-media-queries-javascript
 */
.state-indicator {
    @include visuallyhidden();

    &:before { content: 'xsmall'; }
    @media only screen and (min-width: $bp-sm-min) {
        &:before { content: 'small'; }
    }
    @media only screen and (min-width: $bp-md-min) {
        &:before { content: 'medium'; }
    }
    @media all and (min-width: $bp-lg-min) {
        &:before { content: 'large'; }
    }
    @media all and (min-width: $bp-xlg-max) {
        &:before { content: 'xlarge'; }
    }
}
