//
// Variables
// --------------------------------------------------

// Scaffolding
// -------------------------

$body-bg:               #fff;
$text-color:            #222;

//

// Links
// -------------------------

$link-color:            #000;
$link-hover-color:      darken($link-color, 15%);

// Typography
// -------------------------

$font-family-sans-serif:	"Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:			Georgia, "Times New Roman", Times, serif;
$font-family-monospace:		Monaco, Menlo, Consolas, "Courier New", monospace;
$font-family-base:			$font-family-sans-serif;

$font-size-base:			16px;

//Breakpoints
// http://www.mydevice.io/devices/
$bp-xs-max:                     30em; // 480px
$bp-sm-min:                     30.125em; // 482px
$bp-sm-max:                     47.938em; // 767px
$bp-md-min:                     48em; // 768px
$bp-md-max:                     61.188em; // 979px
$bp-lg-min:                     61.250em; // 980px
$bp-lg-max:                     75em; // 1200px
$bp-xlg-min:                    75.125em; // 1202px
//$bp-xlg-max:                    80.625em; // 1290px
$bp-xlg-max:                    90em; // 1440px

// Site max width
$site-max-width:                80.625em; // 1440px

// The air
$gutter-default:                1.5em; // 24px
$gutter-fixed:                  15px;
